@-webkit-keyframes show-up {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes show-up {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes drop-from-top-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
}

@keyframes drop-from-top-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
  }
}

:root {
  --main-color: #63a4ff;
  --second-color: #9df183;
  --gradient: linear-gradient(315deg, var(--main-color) 0%, var(--second-color) 74%);
  --reverse-gradient: linear-gradient(315deg, var(--second-color) 26%, var(--main-color) 74%);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: var(--main-color);
  background-image: var(--gradient);
}

.btn {
  background-color: transparent;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
}

.app-border {
  width: 34rem;
  height: 63rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--reverse-gradient);
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.6rem;
  height: 62.6rem;
  overflow: hidden;
  background-color: var(--main-color);
  background-image: var(--gradient);
}

.app .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 12rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  border-radius: 10px;
}

.app .header h2 {
  text-transform: uppercase;
  font-size: 2.6rem;
}

.task-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0.5rem 2rem;
}

.task-creator .input {
  height: 2.5rem;
  padding: 0.5rem 1rem;
  width: 70%;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.task-creator .add-task {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  height: 25px;
  font-size: 10px;
  color: var(--main-color);
}

.theme-color {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  padding: 0.2rem;
  color: var(--main-color);
}

.theme-color-picker-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 4.3rem;
  right: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  padding: 1rem;
}

.theme-color-picker-menu h3 {
  font-size: 2.5rem;
}

.theme-color-picker-menu .color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-color-picker-menu .color-container p {
  font-size: 1.5rem;
}

.theme-color-picker-menu .colors-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.theme-color-picker-menu .main-color-btn {
  background-color: var(--main-color);
}

.theme-color-picker-menu .secondary-color-btn {
  background-color: var(--second-color);
}

.theme-color-picker-menu .color-picker {
  opacity: 0;
}

.theme-color-picker-menu .main-color {
  background-color: var(--main-color);
}

.tasks-list {
  width: 80%;
  text-align: center;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  border-radius: 10px;
}

.tasks-list h3 {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--main-color);
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2rem;
  margin: 0.5rem 1rem;
}

.task .task-name {
  font-size: 2rem;
  width: 70%;
  text-align: left;
  overflow: hidden;
  overflow-wrap: break-word;
}

.task .task-btn {
  width: 10%;
  font-size: 1.6rem;
  margin-left: 0.1rem;
  padding: 0.5rem;
}

.task .done {
  color: green;
}

.task .edit {
  color: blue;
}

.task .delete {
  color: tomato;
}

.task:last-child {
  margin-bottom: 1rem;
}

.edit-input {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 0px 5px;
}

.task-done {
  text-decoration: line-through;
}

.show-anim {
  -webkit-animation-name: show-up;
          animation-name: show-up;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.show-anim-reverse {
  -webkit-animation-name: show-up;
          animation-name: show-up;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.theme-picker-anim {
  -webkit-animation: drop-from-top-right 0.5s;
          animation: drop-from-top-right 0.5s;
}

.theme-picker-anim-reverse {
  -webkit-animation: drop-from-top-right 0.5s;
          animation: drop-from-top-right 0.5s;
  animation-direction: reverse;
}

.hidden {
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */